.homeroot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.category {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 100;
}
.showSuggestions {
  height: 200px;
  overflow-y: auto;
  z-index: 100;
  position: absolute;
  width: 70%;
}
.pages {
  display: flex;
  justify-content: center;
}
